<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type='image/png' href="../static/img/profile.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <title>Portfólio - João Cota</title>
</head>
<body>

    <i class="bi bi-list menu-mobile"></i>

    <aside id="header">
        <section class="profile">
            <img src="../static/img/profile_jc.jpg" alt="Foto do João Cota.">
            <h1>João Cota</h1>
            <div class="social-links mt-4 text-center">
                <a href="https://www.linkedin.com/in/jo%C3%A3o-cota-3ba82217b/" target="_blank">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a href="https://github.com/JoaoCota" target="_blank">
                    <i class="bi bi-github"></i>
                </a>
                <a href="https://www.instagram.com/jp_cota/" target="_blank">
                    <i class="bi bi-instagram"></i>
                </a>
            </div>
        </section>

        <nav id="navbar" class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#inicio"><i class="bi bi-house"></i> Início</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#sobre"><i class="bi bi-person"></i> Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#habilidades"><i class="bi bi-nut"></i> Habilidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#curriculo"><i class="bi bi-file-earmark-text"></i> Currículo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portfolio"><i class="bi bi-collection"></i> Portfólio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contato"><i class="bi bi-envelope"></i> Contato</a>
                </li>
              </ul>
        </nav>

    </aside>

    <main id="main">
      <section id="inicio" class="row m-0 p-0">
            <div id="inicio_descricao" class="col-md-5 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-white text-shadow">João Cota</h2>
                <span id="subtitle" class="text-white text-shadow">Desenvolvedor</span>
            </div>

            <div class="col-md-2 d-flex justify-content-center align-items-end">
                <div id="arraste" class="d-flex align-items-center">
                    <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
                </div>
            </div>
      </section>

      <section class="container mt-5" id="sobre">
        <div class="row w-100">
            <div class="col-md-12" data-anime="up">
                <h2 class="pt-5">Sobre</h2>
                <p class="text-start">Desde sempre, sou apaixonado por tecnologia e ao longo da minha jornada, a programação está no meu dia-a-dia. Meu primeiro "Hello World" foi printado no ensino médio, onde realizei o ensino médio técnico em desenvolvimento de sistemas através do Colégio Pedro II e hoje, estou cursando Ciência da Computação pela UERJ.</p>
            </div>

            <div class="row mt-4">
                <div class="col-md-4 mb-5">
                    <img class="img-fluid shadow " src="../static/img/profile_jc.jpg" alt="Foto do Tiago." data-anime="left">
                </div>
                <div class="col-md-8" data-anime="right">
                    <h4>Estudante e Desenvolvedor</h4>
                    <p>Atualmente estudo desenvolvimento back-end, trabalhando principalmente com Python.</p>
                    
                        <div class="row mt-5 mb-5">
                            <div class="col-md-6">
                                <ul class="list-group list-group-flush fs-5">
                                    <li class="list-group-item">
                                        Niver: <span class="fw-lighter">12 de Agosto de 1999</span>
                                    </li>
                                    <li class="list-group-item">
                                        Idade: <span class="fw-lighter">22 anos</span>
                                    </li>
                                    <li class="list-group-item">
                                        Hobby: <span class="fw-lighter">Mecânico do meu carro/moto</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="list-group list-group-flush fs-5">
                                    <li class="list-group-item">
                                        Cidade: <span class="fw-lighter">Rio de Janeiro</span>
                                    </li>
                                    <li class="list-group-item">
                                        Estado: <span class="fw-lighter">Rio de Janeiro</span>
                                    </li>
                                    <li class="list-group-item">
                                        Experiência: <span class="fw-lighter">3 anos</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <p>Tenho como objetivo ascender profissionalmente, expandindo meu aprendizado e contribuindo com meu atual conhecimento. Gosto de vestir a camisa e trabalhar com o time, de maneira divertida e leve!</p>
                </div>
            </div>
        </div>
      </section>
      
      <section class="mt-5 section-bg" id="habilidades">
        <div class="container pb-5">
            <h2 class="pt-5">Habilidades</h2>
            <p>Aqui, você pode encontrar algumas skills e soft skills que adquiri ao longo do tempo, de acordo com o nível de conhecimento que acredito ter em cada uma delas.</p>
            <div class="row">
                <div class="col-md-6">
                    <p class="mt-3 mb-0">C</p>
                    <div class="progress">
                        <div data-anime="left" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%"></div>
                    </div>
                    <p class="mt-3 mb-0">Python</p>
                    <div class="progress">
                        <div data-anime="left" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"></div>
                    </div>
                    <p class="mt-3 mb-0">Java</p>
                    <div class="progress">
                        <div data-anime="left" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%"></div>
                    </div>
                    <p class="mt-3 mb-0">HTML</p>
                    <div class="progress">
                        <div data-anime="left" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%"></div>
                    </div>
                    <p class="mt-3 mb-0">CSS</p>
                    <div class="progress">
                        <div data-anime="left" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <p class="mt-3 mb-0">Flask</p>
                    <div class="progress">
                        <div data-anime="left" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%"></div>
                    </div>
                    <p class="mt-3 mb-0">Bootstrap</p>
                    <div class="progress">
                        <div data-anime="left" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%"></div>
                    </div>
                    <p class="mt-3 mb-0">Javascript</p>
                    <div class="progress">
                        <div data-anime="left" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%"></div>
                    </div>
                    <p class="mt-3 mb-0">Git</p>
                    <div class="progress">
                        <div data-anime="left" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%"></div>
                    </div>
                    <p class="mt-3 mb-0">SQL</p>
                    <div class="progress">
                        <div data-anime="left" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" style="width: 15%"></div>
                    </div>
                </div>
            </div>
            <hr class="hr mb-3">
            <div class="row">
                <div class="col-md-6">
                    <p class="mt-3 mb-0">Proatividade</p>
                    <div class="progress">
                        <div data-anime="left" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100" style="width: 98%"></div>
                    </div>
                    <p class="mt-3 mb-0">Comprometimento</p>
                    <div class="progress">
                        <div data-anime="left" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100" style="width: 98%"></div>
                    </div>
                    <p class="mt-3 mb-0">Trabalho em equipe</p>
                    <div class="progress">
                        <div data-anime="left" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <p class="mt-3 mb-0">Comunicação</p>
                    <div class="progress">
                        <div data-anime="left" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%"></div>
                    </div>
                    <p class="mt-3 mb-0">Empatia</p>
                    <div class="progress">
                        <div data-anime="left" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%"></div>
                    </div>
                    <p class="mt-3 mb-0">Orientação a detalhes</p>
                    <div class="progress">
                        <div data-anime="left" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                    </div>
                </div>
            </div>
        </div>
      </section>

      <section class="mt-5 cv" id="curriculo">
        <div class="container pb-5">
            <h2 class="pt-5 pb-4">Currículo</h2>
            <div class="row">
                <div class="col-md-6">
                    <h3 class="cv-title">Educação</h3>
                    <div class="cv-item" data-anime="up">
                        <h4>Técnico em Desenvolvimento de Sistemas</h4>
                        <h5>2015-2017</h5>
                        <p><em>Colégio Pedro II</em></p>
                        <p>Estudante do Colégio Pedro II, desde a série inicial, me especializei em desenvolvimento de sistemas no Ensino Médio Integrado da unidade São Cristóvão.</p>
                    </div>
                    <div class="cv-item" data-anime="up">
                        <h4>Bacharelado em Ciência da Computação</h4>
                        <h5>2018 - PRESENTE</h5>
                        <p><em>Universidade do Estado do Rio de Janeiro</em></p>
                        <p>Cursando bacharel em ciência da computação na UERJ, com grade curricular de 2006.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <h3 class="cv-title">Profissional</h3>
                    <div class="cv-item" data-anime="up">
                        <h4>Iniciação Científica</h4>
                        <h5>06/2017 - 12/2017</h5>
                        <p><em>Colégio Pedro II</em></p>
                        <p>Iniciação científica e estagiário de robótica aplicada com alunos do ensino fundamental I com Transtorno do Espectro Autista (TEA). Criação de um sistema para maior eficiência no armazenamento da documentação dos alunos  e na parte de robótica, auxílio na programação (C) e montagem dos robôs junto aos alunos do Núcleo de Apoio às Pessoas com Necessidades Específicas (NAPNE).</p>
                    </div>
                    <div class="cv-item" data-anime="up">
                        <h4>Estagiário</h4>
                        <h5>05/2019 - 04/2021</h5>
                        <p><em>codeBuddy Ensino de Tecnologia</em></p>
                        <p>Estagiário no desenvolvimento de conteúdo para a rede codeBuddy com enfoque na metodologia de projetos para crianças de 8 a 16 anos.</p>
                    </div>
                    <div class="cv-item" data-anime="up">
                        <h4>Desenvolvedor de Conteúdo</h4>
                        <h5>05/2021 - 07/2022</h5>
                        <p><em>codeBuddy Ensino de Tecnologia</em></p>
                        <p>Desenvolvedor de conteúdo para a rede codeBuddy com enfoque na metodologia de projetos com o objetivo de ensinar para crianças de 8 a 16 anos.: lógica de programação, introdução à ciência da computação, criação de apps, jogos 2D e 3D, programação de Drone, programação de sites e montagem e programação de circuitos Arduino.</p>
                    </div>
                </div>
            </div>
        </div>
      </section>

      <section class="mt-5 section-bg" id="portfolio">
        <div class="container pb-5 pt-5" data-anime="left">
            <h2 class="pb-5">Portfólio</h2>
            <div id="carouselPortfolio" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="1" aria-label="Slide 2"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="10000">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                          <div class="card">
                            <img src="../static/img/Java-logo.png" class="card-img-top" alt="prototPaint">
                            <div class="card-body">
                              <h5 class="card-title">Protótipo Paint</h5>
                              <p class="card-text">Projeto protótipo da ferramenta paint, utilizando Java2D para a disciplina Linguagem de Programação 2 do curso Ciência da Computação da UERJ.</p>
                              <div class="d-flex justify-content-center">
                                <a href="https://github.com/JoaoCota/LP2/tree/main/Projeto%20LP2" target="_blank" class="btn btn-outline-primrary"><i class="bi bi-github"></i></a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card">
                            <img src="../static/img/portfolio.JPG" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Portfólio</h5>
                              <p class="card-text">Projeto para introdução ao framework Flask e aperfeiçoamento de ferramentas como: HTML, CSS, bootstrap e javascript.</p>
                                <div class="d-flex justify-content-center">
                                    <a href="https://github.com/JoaoCota/Portfolio" target="_blank" class="btn btn-outline-primrary"><i class="bi bi-github"></i></a>
                                </div>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card">
                            <img src="../static/img/emBreve.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Blocked Project</h5>
                              <p class="card-text">Projeto em desenvolvimento.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                            <div class="card">
                              <img src="../static/img/emBreve.jpg" class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title">Blocked Project</h5>
                                <p class="card-text">Projeto em desenvolvimento.</p>
                              </div>
                            </div>
                          </div>
                        <div class="col">
                            <div class="card">
                              <img src="../static/img/emBreve.jpg" class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title">Blocked Project</h5>
                                <p class="card-text">Projeto em desenvolvimento.</p>
                              </div>
                            </div>
                          </div>
                        <div class="col">
                          <div class="card">
                            <img src="../static/img/emBreve.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Blocked Project</h5>
                              <p class="card-text">Projeto em desenvolvimento.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselPortfolio" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselPortfolio" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
      </section>

      <section class="pt-5 pb-5" id="contato">
        <div class="container mb-5">
            <h2 class="pt-3 pb-3">Contato</h2>
            <div class="row">
                <div class="col-md-5" data-anime="up">
                    <div class="card p-5 shadow border-0">
                        <div class="endereco">
                            <h4> <i class="bi bi-geo"></i> Localização:</h4>
                            <p>Rio de Janeiro, RJ</p>
                        </div>
                        <div class="email">
                            <h4> <i class="bi bi-envelope"></i> E-mail:</h4>
                            <p>joaocota1999@gmail.com</p>
                        </div>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d235262.73233990054!2d-43.43193752630678!3d-22.877190078123952!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x997b54e2922f5f%3A0x38af4eb8674ecd6a!2sZona%20Norte%2C%20Rio%20de%20Janeiro%20-%20RJ!5e0!3m2!1spt-BR!2sbr!4v1657225929710!5m2!1spt-BR!2sbr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="w-100"></iframe>
                    </div>
                </div>
                <div class="col-md-7 mt-5 mt-md-0" data-anime="left">
                    <div class="card p-5 h-100 shadow border-0">
                        <form class="row g-3">
                            <div class="col-md-6">
                              <label for="nome" class="form-label">Nome:</label>
                              <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite o seu nome">
                            </div>
                            <div class="col-md-6">
                              <label for="email" class="form-label">E-mail:</label>
                              <input type="email" class="form-control" id="email" name="email" placeholder="Digite o seu e-mail">
                            </div>
                            
                            <div class="col-12">
                              <label for="mensagem" class="form-label">Mensagem:</label>
                              <textarea type="text" rows="10" class="form-control" id="mensagem" name="mensagem" placeholder="Digite a sua mensagem e/ou proposta"></textarea>
                            </div>
                           
                            
                            <div class="col-12 d-flex justify-content-center mt-4">
                              <button type="submit" class="btn btn-outline-primary">Enviar mensagem</button>
                            </div>
                          </form>
                    </div>
                </div>
            </div>
        </div>
      </section>

    </main>

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>
</html>